:host header {
    background-color: #2d4170;
}
:host header {
    height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
}
:host header p {
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    line-height: 20px;
    height: 20px;
    float: left;
    font-size: 16px;
}
:host header nav {
    display: block;
    float: right;
    height: 40px;
    line-height: 40px;
}
:host header a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
    color: #fff;
    transition: 0.2s all ease-in-out;
}
:host header a:hover {
    color: #c0e19c;
}

/* menu block */
:host header h2 {
    float: right;
    height: 100%;
    line-height: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #fff;
}
:host header h2 > div {
    display: inline-block;
}
:host header .mat-icon {
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    width: auto;
    vertical-align: -8px;
    margin: 0 5px;
}
:host header .logout {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
:host header .logout:hover {
    color: #c0e19c;
}