:host .content {
    min-height: calc(100vh - 40px);
}
/* filters panel */
:host section.filters {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    background-color: #fefefe;
    border-bottom: 2px solid #2d4170;
    padding: 0 20px;
}
:host section.filters nav {
    height: 100%;
}
:host section.filters ul {
    display: block;
    height: 100%;
}
:host section.filters ul li {
    display: block;
    height: 100%;
    list-style-type: none;
    float: left;
    padding: 0 10px 0 0;
}
:host section.filters ul li a {
    text-decoration: none;
    color: #2d4170;
    font-size: 12px;
    line-height: 28px;
}

/* container */
:host .container {
    width: 980px;
    padding: 20px 15px;
    margin: 0 auto;
}
:host .container h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 22px;
    padding-bottom: 20px;
    color: #555;
}
:host .container h2 br {
    display: none;
}
:host .container h2 span {
    color: #2d4170;
}
/* datepicker */
:host .container h2 .mat-datepicker-toggle {
    color: #81bb41;
    vertical-align: 2px;
}

/* Common table */
:host .container .r_wrap {
    overflow-x: auto;
}
:host .container .r_wrap .r_scroll {
    min-width: 760px;
}
:host .container .r_wrap table {
    width: 100%;
    /*border-collapse: collapse;*/
    border-radius: 4px;
    border: 1px solid #2d4170;
    border-spacing: 0;
}
:host .container .r_wrap table tr td {
    border: 1px solid #2d4170;
    padding: 0 5px;
    height: 30px;
    background-color: #fefefe;
    border-top: none;
    border-left: none;
}
:host .container .r_wrap table tr td:last-child {
    border-right: none;
}
:host .container .r_wrap table thead tr td {
    background-color: #c0e19c;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
:host .container table thead > tr:first-child td:first-child {
    border-top-left-radius: 4px;
}
:host .container table thead > tr:first-child td:last-child {
    border-top-right-radius: 4px;
}
:host .container table thead tr td.small {
    padding: 0;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
}
:host .container table tbody tr td {
    font-size: 14px;
}
:host .container table tbody tr td.name {
    width: 140px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
:host .container table tbody tr td.narrow {
    width: 30px;
    text-align: center;
}
:host .container table tbody tr td.dpt {
    width: 50px;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    letter-spacing: -0.5px;
}
:host .container table tbody tr td.tl {
    width: 720px;
    padding: 0;
}

/* limeline table */
:host .container .r_wrap .r_scroll > table td > .tline {
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 0;
    border: none;
}
:host .container .r_wrap .r_scroll > table td > .tline td {
    line-height: 15px;
    height: 15px;
    font-size: 9px;
    border: none;
    color: #fff;
    background-color: #777;
    font-weight: 300;
    border-right: 1px solid #333;
    overflow: hidden;
    padding: 0 2px;
    letter-spacing: -0.5px;
    text-align: left;
}
:host .container .r_wrap .r_scroll > table td > .tline.ws td:nth-child(2n) {
    display: none;
}
:host .container .r_wrap .r_scroll > table td > .tline td sup {
    text-decoration: underline;
}
:host .container .r_wrap .r_scroll > table td > .tline td:last-child {
    border-right: none;
}

/* footer */
:host .container .r_wrap .r_scroll table tfoot tr td {
    background-color: #fefefe;
    font-size: 12px;
    line-height: 16px;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
:host .container .r_wrap .r_scroll table tfoot tr td ul {
    display: inline-block;
}
:host .container .r_wrap .r_scroll table tfoot tr td ul li {
    list-style-type: none;
    display: inline-block;
}
:host .container .r_wrap .r_scroll table tfoot tr td ul li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #777;
    box-sizing: border-box;
    margin: 0 3px 0 8px;
    vertical-align: -1px;
}

/* collapse, scale, refresh buttons */
:host .container table thead tr td:last-child {
    position: relative;
}
:host .container table thead tr td .collapse {
    position: absolute;
    top: 4px;
    left: 5px;
}
:host .container table thead tr td .collapse .mat-icon {
    color: #2d4170;
    cursor: pointer;
}
:host .container table thead tr td .tscale {
    position: absolute;
    top: 7px;
    right: 6px;
}
:host .container table thead tr td .tscale .mat-icon {
    color: #2d4170;
    cursor: pointer;
    font-size: 18px;
}
:host .container h2 .refresh {
    color: #81bb41;
    cursor: pointer;
    margin-left: 5px;
}
:host .container h2 .refresh .mat-icon {
    font-size: 30px;
    vertical-align: -8px;
}

/* collapsed table rows */
:host .container table tr td.collapsed {
    display: none;
}

/* responsive styles */
@media (max-width: 1018px) {
    :host .container {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (max-width: 767px) {
    :host .container h2 br {
        display: block;
    }
}